@model DepartmanPersonelYonetimi.Models.Personel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departman.DepartmanAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departman.DepartmanAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonelAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonelSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelSoyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
